<mat-toolbar class="weather-bar" color="primary" *ngIf="weatherData$ | async as weatherData">
  <mat-toolbar-row>
    <span>Weather for {{ weatherData.longitude }}, {{ weatherData.latitude }}</span>
    <div class="weather-data-item">
      {{weatherData.current_weather.time | date : 'MMM d, y hh:mm' }}
    </div>
    <div class="weather-data-item">
      Wind Direction: {{weatherData.current_weather.winddirection}}
    </div>
    <div class="weather-data-item">
      Wind Speed: {{weatherData.current_weather.windspeed}}
    </div>
    <div class="weather-data-item">
      Temp: {{weatherData.current_weather.temperature | temperature }}
    </div>
  </mat-toolbar-row>
</mat-toolbar>
