<div *ngIf="news$ | async as news">
  <!-- Render the first news item in a separate row -->
  <app-news-item [newsItem]="news[0]" [imgFormat]="imgFormats.THREEBYTWO" featured="true"></app-news-item>

  <!-- Render the rest of the news items in a row with three columns -->
  <mat-grid-list cols="3" gutterSize="20" rowHeight="350">
    <mat-grid-tile *ngFor="let newsItem of news.slice(1)" [colspan]="1">
      <app-news-item [newsItem]="newsItem" [imgFormat]="imgFormats.THUMB"></app-news-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
